.download-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.fade-in-text {
  opacity: 0;
  transition: opacity 2s ease-in;
  font-size: 24px;
  font-weight: bold;
}

.fade-in-text.visible {
  opacity: 1;
}

.home-button {
  background-color: white;
  color: black;
  margin-top: 32px;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  border-width: 1px;
  border-color: grey;
  text-align: "center";
}
